/* Здесь будут храниться стили нашего сайта */

body {
	margin: 0px;
	border: 0px; 
	font-family: 'Roboto';
	font-size: 18px;
}
	
img {
		max-width: 100%;
}
header {
	padding-top: 59px;
	padding-bottom: 22px;
	background-color: #3a7dfd;
	color: #ffffff;
}
.header-pretitle {
	margin-top: 102px;
	font-weight: 700;
}
.header-title {
	font-size: 48px;
	font-weight: 700;
	line-height: 56.81px;
	margin-top: 21px;	
}
.header-subtitle {
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 0px;
}.header-button {
	display: inline-block;
	text-decoration: none;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	padding-top: 17px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 17px;
	padding: 17px 55px;
	margin-top: 33px;
}
header small {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9px;
}
.header-button-block {
	max-width: 207px;
}
/* Секция порфолио */
.portfolio {
	background-color: #dddddd;
	padding-top: 44px;
	padding-bottom: 71px;

}
.portfolio-block {
	background-color: #fff;
	padding-top: 29px;
	padding: 41px;
}
.portfolio-title {
	text-transform: uppercase;
	font-size: 18px;
	color: #072b6f;
	margin-bottom: 10px;
	font-weight: 700;
}
.portfolio-subtitle {
	margin-top: 10px;
	margin-bottom: 30px;
	color: #7bb9ff;
	font-size: 14px;
	font-weight: 400;

}
.portfolio-title, .portfolio-subtitle {
	text-align: center;
}
.portfolio-col-1 {
	padding-left: 40px;
	padding-right: 5px;
}
.portfolio-col-2 {
	padding-right: 40px;
	padding-left: 5px;
}
.portfolio-block h3 {
color: #072b6f;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}
.portfolio-text {
color: #8f8f8f;
font-size: 14px;
font-weight: 400;
}
.portfolio-block a {
color: #072b6f;
font-size: 14px;
font-weight: 400;
text-decoration: underline;
}
/* Оформление подвала */
footer {
	background-color: #3a7dfd;
	color: #fff;
	padding-top: 60px;		
	padding-bottom: 110px;
}
.footer-author {
color: #fefefe;
font-size: 24px;
margin-bottom: 7px;
}
.footer-text {
	margin-top: 0;
}
.social-block {
	text-align: center;
}
.social-block a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}
.footer-cta-block {
	text-align: center;
}
 
.footer-cta {
	margin-bottom: 13px;
}
.footer-button {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
	padding: 12px 40px;
}

@media (max-width: 1200px) {
.header-pretitle  {
	margin-top: 60px;
  }
}
	
@media (max-width: 992px) {
 .header-img {
 	display: none;
 }
.header-pretitle  {
	margin-top: 10px;
}
 .footer-author {
 	font-size: 18px;
 }
 .footer-text {
 	font-size: 14px;
 }
 .social-block a {
 	margin-left: 5px;
 	margin-right: 5px;
 }
  .social-block img {
 	width: 30px;
}
.footer-button {
	font-size: 14px;
	padding: 8px 35px;
}

@media (max-width: 768px) {
.portfolio-col-1 {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;	
 }
.portfolio-col-2 {
	padding-left: 20px;
	padding-right: 20px;
 }
}
.footer-author, .footer-text {
  text-align: center;
 }
